In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense

In [2]:
mallards=pd.read_excel("Mallards_initial data.xlsx")
mallards = mallards.loc[:, ~mallards.columns.str.contains('^Unnamed')]
print(mallards.tail(5))

       population  farmed       date       hour  slatitude  slongitude
19910         111       0 2012-10-03   18:46:46  56.440178   13.992034
19911         111       0 2012-10-03   19:46:42  56.439957   13.992407
19912         111       0 2012-10-03   20:47:04  56.440022   13.992071
19913         111       0 2012-10-03   21:49:33  56.440029   13.992332
19914         111       0 2012-10-03   22:48:59  56.440067   13.993050

In [3]:
ordered = mallards.sort_values(by=["population"]).reset_index(drop=True)

In [4]:
ordered.tail(10)

       population  farmed       date       hour  slatitude  slongitude
19905         153       1 2012-10-19   04:39:28  56.500893   13.970902
19906         153       1 2012-10-19   05:39:21  56.500786   13.970841
19907         153       1 2012-10-19   06:38:23  56.500889   13.971055
19908         153       1 2012-10-19   07:38:58  56.487541   13.965097
19909         153       1 2012-10-19   08:39:03  56.487274   13.965044
19910         153       1 2012-10-19   09:39:15  56.487392   13.965101
19911         153       1 2012-10-19   10:38:33  56.487503   13.965265
19912         153       1 2012-10-19   11:38:27  56.487041   13.965001
19913         153       1 2012-10-18   07:41:34  56.487537   13.965165
19914         153       1 2012-10-08   07:59:45  56.432728   13.989956

In [5]:
ordered.to_excel("mallards_ordered.xlsx", index=False)

In [6]:
labelled = pd.DataFrame(columns=["dlatitude", "dlongitude"])

for i, row in ordered.iterrows():
    if i == ordered.index[-1]:
        break
    if row["population"] != ordered.iloc[i+1]["population"]:
        label_row = pd.DataFrame({"dlatitude": row["slatitude"], "dlongitude": row["slongitude"]}, index=[i])
    else:
        label_row = pd.DataFrame({"dlatitude": ordered.iloc[i+1]["slatitude"], "dlongitude": ordered.iloc[i+1]["slongitude"]}, index=[i])
    labelled = pd.concat([labelled, label_row])

In [7]:
labelled.to_excel("mallards_labels.xlsx", index=False)

In [8]:
labelled.head(10)

   dlatitude  dlongitude
0  56.439716   13.991791
1  56.440170   13.992670
2  56.440136   13.992191
3  56.441143   13.988527
4  56.439919   13.991972
5  56.439869   13.992161
6  56.439716   13.992242
7  56.439934   13.991963
8  56.439888   13.992043
9  56.440109   13.991787

In [9]:
# drop last two rows from ordered dataframe
ordered = ordered.iloc[:-2].reset_index(drop=True)

# drop last row from labelled dataframe
labelled = labelled.iloc[:-1].reset_index(drop=True)

In [10]:
print(ordered.iloc[:-1].shape)

(19912, 6)

In [11]:
print(labelled["dlatitude"].iloc[:-1].shape)

(19912,)

In [12]:
X_train, X_test, y_lat_train, y_lat_test = train_test_split(
    ordered.iloc[:-1], labelled["dlatitude"].iloc[:-1], test_size=0.2, random_state=42
)
X_train, X_test, y_long_train, y_long_test = train_test_split(
    ordered.iloc[:-1], labelled["dlongitude"].iloc[:-1], test_size=0.2, random_state=42
)

In [13]:
X_train.shape

(15929, 6)

In [14]:
scaler = StandardScaler()

In [15]:
X_train_no_date = X_train.drop(['date', 'hour'], axis=1)
X_train_scaled = scaler.fit_transform(X_train_no_date)
X_train_scaled_df = pd.DataFrame(X_train_scaled, columns=X_train_no_date.columns, index=X_train_no_date.index)
X_train_scaled_df[['date', 'hour']] = X_train[['date', 'hour']]

In [16]:
X_test_no_date = X_test.drop(['date', 'hour'], axis=1)
X_test_scaled = scaler.transform(X_test_no_date)
X_test_scaled_df = pd.DataFrame(X_test_scaled, columns=X_test_no_date.columns, index=X_test_no_date.index)
X_test_scaled_df[['date', 'hour']] = X_test[['date', 'hour']]

In [17]:
# extract day of the week and hour of the day from datetime columns
X_train_scaled_df['weekday'] = X_train_scaled_df['date'].dt.weekday
X_train_scaled_df['hour'] = pd.to_datetime(X_train_scaled_df['hour'].str.strip(), format='%H:%M:%S')
X_train_scaled_df['hour'] = X_train_scaled_df['hour'].dt.hour

X_test_scaled_df['weekday'] = X_test_scaled_df['date'].dt.weekday
X_test_scaled_df['hour'] = pd.to_datetime(X_test_scaled_df['hour'].str.strip(), format='%H:%M:%S')
X_test_scaled_df['hour'] = X_test_scaled_df['hour'].dt.hour

# drop the original datetime columns
X_train_scaled_df = X_train_scaled_df.drop(['date'], axis=1)
X_test_scaled_df = X_test_scaled_df.drop(['date'], axis=1)

In [18]:
X_train_scaled_df.tail(5)

       population    farmed  slatitude  slongitude  hour  weekday
11284    0.030042 -0.524242   0.125260    0.133639    21        5
11964    0.138355 -0.524242   0.127363    0.126657    19        0
5390    -0.879784 -0.524242   0.125449    0.134608    15        4
860     -1.356359 -0.524242   0.124414    0.135708    18        2
15795    0.939869 -0.524242   0.125983    0.133088     3        0

In [19]:
X_test_scaled_df.tail(5)

       population    farmed  slatitude  slongitude  hour  weekday
16564    1.113169  1.907515   0.123946    0.131636    21        4
19327    1.849695  1.907515  -4.781471   -1.732344    10        0
15022    0.874881 -0.524242   0.126517    0.128668     0        3
2457    -1.139734 -0.524242   0.124135    0.135700     5        1
9210    -0.229908 -0.524242   0.121909    0.135181    17        5

In [20]:
n_units = 32
activation = 'relu'
loss_function = 'mean_squared_error'

In [21]:
model = Sequential()
model.add(Dense(n_units, activation=activation, input_shape=(X_train_scaled_df.shape[1],)))
model.add(Dense(1))

In [22]:
model.compile(optimizer='adam', loss=loss_function)

In [23]:
print(X_train_scaled_df.values.shape)

(15929, 6)

In [24]:
print(y_lat_train.values.shape)

(15929,)

In [25]:
print(model.input_shape)

(None, 6)

In [26]:
X_train_scaled_df.shape

(15929, 6)

In [27]:
X_test_scaled_df.shape

(3983, 6)

In [28]:
historyLat=model.fit(X_train_scaled_df.values, y_lat_train, validation_data=(X_test_scaled_df.values, y_lat_test), epochs=50)

Epoch 1/50
474/498 [===========================>..] - ETA: 0s - loss: 1091.6840WARNING:tensorflow:Callbacks method `on_test_batch_end` is slow compared to the batch time (batch time: 0.0005s vs `on_test_batch_end` time: 0.0010s). Check your callbacks.
498/498 [==============================] - 1s 2ms/step - loss: 1060.7977 - val_loss: 429.6458
Epoch 2/50
498/498 [==============================] - 1s 2ms/step - loss: 334.0981 - val_loss: 254.5120
Epoch 3/50
498/498 [==============================] - 1s 2ms/step - loss: 201.3144 - val_loss: 142.4041
Epoch 4/50
498/498 [==============================] - 1s 2ms/step - loss: 98.4408 - val_loss: 57.9130
Epoch 5/50
498/498 [==============================] - 1s 2ms/step - loss: 34.1817 - val_loss: 16.1610
Epoch 6/50
498/498 [==============================] - 1s 2ms/step - loss: 9.6857 - val_loss: 5.7310
Epoch 7/50
498/498 [==============================] - 1s 2ms/step - loss: 4.1932 - val_loss: 2.9411
Epoch 8/50
498/498 [==============================] - 1s 2ms/step - loss: 2.3265 - val_loss: 1.6749
Epoch 9/50
498/498 [==============================] - 1s 2ms/step - loss: 1.3216 - val_loss: 0.9745
Epoch 10/50
498/498 [==============================] - 1s 3ms/step - loss: 0.8513 - val_loss: 0.7047
Epoch 11/50
498/498 [==============================] - 1s 2ms/step - loss: 0.6566 - val_loss: 0.5899
Epoch 12/50
498/498 [==============================] - 1s 2ms/step - loss: 0.5703 - val_loss: 0.5322
Epoch 13/50
498/498 [==============================] - 1s 2ms/step - loss: 0.5096 - val_loss: 0.4906
Epoch 14/50
498/498 [==============================] - 1s 2ms/step - loss: 0.4536 - val_loss: 0.4446
Epoch 15/50
498/498 [==============================] - 1s 2ms/step - loss: 0.4032 - val_loss: 0.4191
Epoch 16/50
498/498 [==============================] - 1s 2ms/step - loss: 0.3530 - val_loss: 0.3701
Epoch 17/50
498/498 [==============================] - 1s 2ms/step - loss: 0.3111 - val_loss: 0.3458
Epoch 18/50
498/498 [==============================] - 1s 2ms/step - loss: 0.2742 - val_loss: 0.3235
Epoch 19/50
498/498 [==============================] - 1s 2ms/step - loss: 0.2370 - val_loss: 0.3013
Epoch 20/50
498/498 [==============================] - 1s 3ms/step - loss: 0.2045 - val_loss: 0.2819
Epoch 21/50
498/498 [==============================] - 1s 2ms/step - loss: 0.1747 - val_loss: 0.2647
Epoch 22/50
498/498 [==============================] - 1s 3ms/step - loss: 0.1465 - val_loss: 0.2479
Epoch 23/50
498/498 [==============================] - 1s 3ms/step - loss: 0.1245 - val_loss: 0.2342
Epoch 24/50
498/498 [==============================] - 1s 3ms/step - loss: 0.1046 - val_loss: 0.2327
Epoch 25/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0882 - val_loss: 0.2233
Epoch 26/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0744 - val_loss: 0.2122
Epoch 27/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0599 - val_loss: 0.2206
Epoch 28/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0481 - val_loss: 0.2068
Epoch 29/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0389 - val_loss: 0.2001
Epoch 30/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0314 - val_loss: 0.2010
Epoch 31/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0265 - val_loss: 0.1968
Epoch 32/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0200 - val_loss: 0.1983
Epoch 33/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0179 - val_loss: 0.1999
Epoch 34/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0153 - val_loss: 0.1949
Epoch 35/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0135 - val_loss: 0.2004
Epoch 36/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0117 - val_loss: 0.2006
Epoch 37/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0105 - val_loss: 0.2118
Epoch 38/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0094 - val_loss: 0.2024
Epoch 39/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0084 - val_loss: 0.2056
Epoch 40/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0076 - val_loss: 0.2029
Epoch 41/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0075 - val_loss: 0.2023
Epoch 42/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0065 - val_loss: 0.2048
Epoch 43/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0062 - val_loss: 0.2048
Epoch 44/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0061 - val_loss: 0.2069
Epoch 45/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0047 - val_loss: 0.2020
Epoch 46/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0054 - val_loss: 0.2031
Epoch 47/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0054 - val_loss: 0.2024
Epoch 48/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0045 - val_loss: 0.2020
Epoch 49/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0047 - val_loss: 0.2013
Epoch 50/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0040 - val_loss: 0.1954

In [29]:
historyLong=model.fit(X_train_scaled_df.values, y_long_train, validation_data=(X_test_scaled_df.values, y_long_test), epochs=50)

Epoch 1/50
498/498 [==============================] - 1s 2ms/step - loss: 83.8376 - val_loss: 17.9091
Epoch 2/50
498/498 [==============================] - ETA: 0s - loss: 11.4674 ETA: 0s - loss: - - 1s 3ms/step - loss: 11.4548 - val_loss: 7.6458
Epoch 3/50
498/498 [==============================] - 1s 2ms/step - loss: 5.6305 - val_loss: 4.0190
Epoch 4/50
498/498 [==============================] - 1s 2ms/step - loss: 2.8316 - val_loss: 1.8994
Epoch 5/50
498/498 [==============================] - 1s 2ms/step - loss: 1.2865 - val_loss: 0.8836
Epoch 6/50
498/498 [==============================] - 1s 2ms/step - loss: 0.6281 - val_loss: 0.4715
Epoch 7/50
498/498 [==============================] - 1s 2ms/step - loss: 0.3540 - val_loss: 0.3012 - ETA: 0s -
Epoch 8/50
498/498 [==============================] - 1s 3ms/step - loss: 0.2281 - val_loss: 0.2167
Epoch 9/50
498/498 [==============================] - 1s 2ms/step - loss: 0.1606 - val_loss: 0.1706
Epoch 10/50
498/498 [==============================] - 1s 2ms/step - loss: 0.1206 - val_loss: 0.1397
Epoch 11/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0950 - val_loss: 0.1176
Epoch 12/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0762 - val_loss: 0.1033
Epoch 13/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0619 - val_loss: 0.0932
Epoch 14/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0501 - val_loss: 0.0834
Epoch 15/50
498/498 [==============================] - 2s 3ms/step - loss: 0.0423 - val_loss: 0.0751
Epoch 16/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0363 - val_loss: 0.0730
Epoch 17/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0310 - val_loss: 0.0629
Epoch 18/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0260 - val_loss: 0.0640
Epoch 19/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0228 - val_loss: 0.0561
Epoch 20/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0186 - val_loss: 0.0529
Epoch 21/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0150 - val_loss: 0.0557
Epoch 22/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0131 - val_loss: 0.0470
Epoch 23/50
498/498 [==============================] - 2s 3ms/step - loss: 0.0120 - val_loss: 0.0458
Epoch 24/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0106 - val_loss: 0.0497
Epoch 25/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0101 - val_loss: 0.0452
Epoch 26/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0090 - val_loss: 0.0424
Epoch 27/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0082 - val_loss: 0.0426 - ETA
Epoch 28/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0077 - val_loss: 0.0445
Epoch 29/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0082 - val_loss: 0.0419
Epoch 30/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0079 - val_loss: 0.0423
Epoch 31/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0068 - val_loss: 0.0495
Epoch 32/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0071 - val_loss: 0.0422
Epoch 33/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0075 - val_loss: 0.0418
Epoch 34/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0070 - val_loss: 0.0420
Epoch 35/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0064 - val_loss: 0.0399- ETA: 0s - lo
Epoch 36/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0066 - val_loss: 0.0433
Epoch 37/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0069 - val_loss: 0.0399
Epoch 38/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0064 - val_loss: 0.0469
Epoch 39/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0063 - val_loss: 0.0397
Epoch 40/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0066 - val_loss: 0.0414- ETA: 0s - loss: 0. - ETA: 0s - loss:
Epoch 41/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0066 - val_loss: 0.0405
Epoch 42/50
498/498 [==============================] - 2s 3ms/step - loss: 0.0063 - val_loss: 0.0402
Epoch 43/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0058 - val_loss: 0.0396
Epoch 44/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0059 - val_loss: 0.0433
Epoch 45/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0067 - val_loss: 0.0397
Epoch 46/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0062 - val_loss: 0.0407
Epoch 47/50
498/498 [==============================] - 1s 2ms/step - loss: 0.0057 - val_loss: 0.0487
Epoch 48/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0068 - val_loss: 0.0400
Epoch 49/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0064 - val_loss: 0.0472
Epoch 50/50
498/498 [==============================] - 1s 3ms/step - loss: 0.0062 - val_loss: 0.0408