In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn import tree
from sklearn.model_selection import train_test_split

mallards=pd.read_excel("Mallards_initial data.xlsx")

In [2]:
print(mallards.tail(5))

       population  farmed       date       hour  slatitude  slongitude
19910         111       0 2012-10-03   18:46:46  56.440178   13.992034
19911         111       0 2012-10-03   19:46:42  56.439957   13.992407
19912         111       0 2012-10-03   20:47:04  56.440022   13.992071
19913         111       0 2012-10-03   21:49:33  56.440029   13.992332
19914         111       0 2012-10-03   22:48:59  56.440067   13.993050

In [3]:
ordered = mallards.sort_values(by=["population"]).reset_index(drop=True)

In [4]:
ordered.tail(10)

       population  farmed       date       hour  slatitude  slongitude
19905         153       1 2012-10-19   04:39:28  56.500893   13.970902
19906         153       1 2012-10-19   05:39:21  56.500786   13.970841
19907         153       1 2012-10-19   06:38:23  56.500889   13.971055
19908         153       1 2012-10-19   07:38:58  56.487541   13.965097
19909         153       1 2012-10-19   08:39:03  56.487274   13.965044
19910         153       1 2012-10-19   09:39:15  56.487392   13.965101
19911         153       1 2012-10-19   10:38:33  56.487503   13.965265
19912         153       1 2012-10-19   11:38:27  56.487041   13.965001
19913         153       1 2012-10-18   07:41:34  56.487537   13.965165
19914         153       1 2012-10-08   07:59:45  56.432728   13.989956

In [5]:
ordered.to_excel("mallards_ordered.xlsx", index=False)

In [6]:
labelled = pd.DataFrame(columns=["dlatitude", "dlongitude"])

for i, row in ordered.iterrows():
    if i == ordered.index[-1]:
        break
    if row["population"] != ordered.iloc[i+1]["population"]:
        label_row = pd.DataFrame({"dlatitude": row["slatitude"], "dlongitude": row["slongitude"]}, index=[i])
    else:
        label_row = pd.DataFrame({"dlatitude": ordered.iloc[i+1]["slatitude"], "dlongitude": ordered.iloc[i+1]["slongitude"]}, index=[i])
    labelled = pd.concat([labelled, label_row])

In [7]:
labelled.to_excel("mallards_labels.xlsx", index=False)

In [8]:
labelled.head(10)

   dlatitude  dlongitude
0  56.439716   13.991791
1  56.440170   13.992670
2  56.440136   13.992191
3  56.441143   13.988527
4  56.439919   13.991972
5  56.439869   13.992161
6  56.439716   13.992242
7  56.439934   13.991963
8  56.439888   13.992043
9  56.440109   13.991787

In [9]:
# drop last two rows from ordered dataframe
ordered = ordered.iloc[:-2].reset_index(drop=True)

# drop last row from labelled dataframe
labelled = labelled.iloc[:-1].reset_index(drop=True)

In [10]:
print(ordered.iloc[:-1].shape)

(19912, 6)

In [11]:
print(labelled["dlatitude"].iloc[:-1].shape)

(19912,)

In [12]:
X_train, X_test, y_lat_train, y_lat_test = train_test_split(
    ordered.iloc[:-1], labelled["dlatitude"].iloc[:-1], test_size=0.2, random_state=42
)
X_train, X_test, y_long_train, y_long_test = train_test_split(
    ordered.iloc[:-1], labelled["dlongitude"].iloc[:-1], test_size=0.2, random_state=42
)

In [13]:
X_train.shape

(15929, 6)